* {
    margin: 0;
    text-decoration: none;
}
body {
    background-image: url(robot.png);
    background-repeat: no-repeat;
    background-position:48% -300%  ;
}
.navbar {
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    padding: 1em;
}
.itensnav {
    color: black;
    text-decoration: overline;
}
main {
    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
}
#maintext {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: 14em;
}
.sidetext {
    writing-mode:vertical-lr;
    font-size: 4em;
    padding: 1em;
    text-orientation: upright;
}